<phpunit bootstrap="./bootstrap.php">
  <testsuites>
    <testsuite>
      <directory>unit/src</directory>
      <directory>container/src</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory>../src</directory>
    </whitelist>
  </filter>
</phpunit>
